/* Stylesheet for book chapter exercise */

nav {
    border: 0px solid #F2B705;
    text-align: center;
    margin: 1rem 0 0 0;
}
nav ul {
    list-style-type: none;
    border: 0px dotted #F2D479;
    padding: 0;
    margin: 0;
}
nav li {
    border: 3px solid #F2D479;
    width: 8.25rem;
    background-color: #F2E8B3;
    text-align: center;
    margin-bottom: 0.7rem;
    display: inline-block;
}
body {
    background-color: #F2E8B3;
    color: #565759;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
}
hr {
    color: #9FA3A6;
}
h1 {
    border: 10px solid #F2B705;
    margin: 0 0 1rem 0;
    text-align: center;
}
blockquote {
    /* background-color: #F2D479; */
    border: 10px dotted #F2D479;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
blockquote cite {
    color: #9FA3A6;
    font-weight: bold;
}
ol {
    border: 10px dotted #F2D479;
}
p {
    line-height: 1.5rem;
}
img {
    border: 5px dotted #9FA3A6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
a:link {
    font-weight: 300;
    color: #565759;
}
a:visited {
    font-weight: 300;
    text-decoration: none;
    color: #9FA3A6;
}
.floatright {
    float: right;
    margin: 0 0 1rem 1rem;
}